* {
  display: block;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #7f7f7f;
}

/* .nav-section {
} */

.navbar {
  max-width: 1920px;
  display: flex;
  /* justify-content: space-between; */
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
}

.logo {
  margin-left: 100px;
  margin-top: 17px;
  margin-bottom: 17px;
}

.menu {
  display: flex;
  margin-right: 100px;
}

.menu a {
  text-decoration: none;
  color: #7f7f7f;
  margin-left: 50px;
  padding-top: 10px;
}

#btn-class {
  color: #fff;
  padding: 10px 30px;
}

.btn-class {
  background: #f98731;
  border-radius: 5px;
}

.content-width {
  padding-top: 50px;
  padding-left: 200px;
  padding-right: 200px;
  /* max-width: 1140px; */
}

.tandc-ip {
  margin-top: 150px;
}
h1 {
  color: #f98731;
  /* margin: auto; */
}

.tandc-tm {
  padding-bottom: 50px;
}

.footer {
  background-color: #1d1d1d;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-terms {
  color: #676767;
}

.footer-social i {
  padding-left: 5px;
  color: #e5028b;
}
