* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #7f7f7f;
  scroll-behavior: smooth;
}

/* .row-flex {
  display: flex;
  flex-wrap: wrap;
} */

.header-color,
.border-color {
  color: #f98731;
}

.nav-section {
  /* max-width: 1920px; */
  /* display: flex; */
  /* justify-content: space-between; */
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  background-color: #fff;
}

.navbar {
  max-width: 1920px;
  margin: auto;
}

.logo {
  margin-left: 50px;
  margin-top: 17px;
  margin-bottom: 17px;
}

@media screen and (max-width: 767px) {
  .logo {
    padding-left: 20px;
    margin-left: 10px;
  }
}

.menu {
  display: flex;
  margin-right: 50px;
}

.menu a {
  text-decoration: none;
  color: #7f7f7f;
  margin-left: 50px;
  padding-top: 10px;
}

#btn-class {
  color: #fff;
  padding: 10px 30px;
}

.btn-class {
  background: #f98731;
  border-radius: 5px;
}

.content-width {
  padding-top: 50px;
  padding-left: 200px;
  padding-right: 200px;
  /* max-width: 1140px; */
}

.tandc-ip {
  margin-top: 150px;
}
h1 {
  color: #f98731;
  /* margin: auto; */
}

.tandc-tm {
  padding-bottom: 50px;
}

.footer {
  background-color: #1d1d1d;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* .footer-content {
  display: flex;
  justify-content: space-between;
} */

@media screen and (max-width: 767px) {
  .footer-logo img {
    margin: auto;
  }
}

.footer-terms {
  color: #676767;
  padding-top: 15px;
  /* text-align: center; */
}
.footer-social {
  padding-top: 15px;
  display: flex;
  /* flex-direction: row; */
  justify-content: flex-end;
  /* margin: auto; */
}

@media screen and (max-width: 767px) {
  .footer-social {
    padding-top: 25px;
    display: flex;
    justify-content: center;
  }

  .footer-terms {
    padding-top: 25px;
  }
}

.footer-social i {
  padding-left: 8px;
  color: #e5028b;
}

/* Our Story Page */

.our-story-one {
  background-image: url("/images/our-story-bg.png");
  background-size: cover;
  border-bottom: 1px solid rgba(249, 135, 49, 0.7);
}

.our-story-content {
  padding-top: 50px;
}
.section-spacing {
  padding: 50px 0px;
}

.download-brandbook {
  margin-top: 50px;
}

.download-brandbook a {
  background-color: #f98731;
  text-decoration: none;
  padding: 20px 40px;
  border-radius: 10px;
}

.download-brandbook a,
i {
  color: #fff;
}
.center-content {
  margin: auto;
}

.who-we-are {
  border-top: 1px solid #f98731;
  border-bottom: 1px solid #f98731;
  padding: 50px 0px;
}

.mv-div {
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: #f98731;
  padding: 15px;
  border-bottom: 1px solid #f98731;
}

.similar-height {
  height: 5vh;
  margin-bottom: 10px;
}

.mv-div h5 {
  color: #fff;
}
.mv-div p {
  color: #fff;
}

.what-we-believe {
  padding-top: 100px;
  padding-bottom: 100px;
  border-top: 1px solid #f98731;
  border-bottom: 1px solid #f98731;
}
.what-we-believe p {
  margin-bottom: 100px;
}

.our-story-video {
  padding-top: 100px;
  padding-bottom: 100px;
}

.our-brand-values {
  padding-bottom: 100px;
}
.our-brand-values a {
  background-color: #f98731;
  text-decoration: none;
  padding: 20px 40px;
  border-radius: 10px;
  color: #fff;
}

/* Our Values Page */

.our-values-hero {
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-values-hero-image img {
  width: 100%;
}

.our-values-content {
  margin: auto;
}

.our-values {
  padding-top: 100px;
  padding-bottom: 100px;
}

.our-values-grid {
  padding: 30px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  margin-bottom: 30px;
}

.our-values-grid:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.values-icon {
  height: 50px;
  margin-bottom: 20px;
}

/* Brand Asset Guide Child Page */

.tone-of-voice {
  margin-top: 100px;
}

.bg-spacing {
  margin-bottom: 100px;
}
.bg-spacing-top-half {
  margin-top: 50px;
}

.bg-spacing-top {
  margin-top: 100px;
}

.logo-misuse-div {
  max-width: 800px;
}

.practice-management {
  margin: auto;
}
.main-colors {
  display: flex;
  max-width: 500px;
  margin-bottom: 20px;
}

.color-box {
  height: 266px;
  width: 266px;
  background-color: #ed135d;
}

.color-codes {
  margin: auto;
}

.color-code {
  margin-bottom: 30px;
}

.color-box-two {
  height: 266px;
  width: 266px;
  background-color: #f47424;
}
